In [2]:
import pandas as pd
import string
from nltk.corpus import stopwords
import warnings
warnings.filterwarnings('ignore')
from nltk.stem import PorterStemmer

In [3]:
df = pd.read_csv('C:/users/akash/downloads/fake re.views dataset.csv')
df.head()

,category,rating,label,text_
0,Home_and_Kitchen_5,5.0,CG,"Love this! Well made, sturdy, and very comfor..."
1,Home_and_Kitchen_5,5.0,CG,"love it, a great upgrade from the original. I..."
2,Home_and_Kitchen_5,5.0,CG,This pillow saved my back. I love the look and...
3,Home_and_Kitchen_5,1.0,CG,"Missing information on how to use it, but it i..."
4,Home_and_Kitchen_5,5.0,CG,Very nice set. Good quality. We have had the s...

In [4]:
df.isnull().sum()

category    0
rating      0
label       0
text_       0
dtype: int64

In [5]:
df['rating'].value_counts()

5.0    24559
4.0     7965
3.0     3786
1.0     2155
2.0     1967
Name: rating, dtype: int64

In [6]:
def remove_punctuation(text):
    nonpunc = [w for w in text if w not in string.punctuation]
    nonpunc = ''.join(nonpunc)
    text ="" 
    stopword = stopwords.words('english')
    text = ' '.join(word for word in nonpunc.split() if word not in stopword)
    return text

In [11]:
df['text_'][1],remove_punctuation(df['text_'][1])

("love it, a great upgrade from the original.  I've had mine for a couple of years",
 'love great upgrade original Ive mine couple years')

In [8]:
df['text_'] = df['text_'].astype(str)

In [10]:
df['text_'].head()

0    Love this!  Well made, sturdy, and very comfor...
1    love it, a great upgrade from the original.  I...
2    This pillow saved my back. I love the look and...
3    Missing information on how to use it, but it i...
4    Very nice set. Good quality. We have had the s...
Name: text_, dtype: object

In [12]:
df['text_'][:] = df['text_'][:].apply(remove_punctuation)

In [13]:
df['text_'].tail()

40427    I read reviews saying bra ran small I ordered ...
40428    I wasnt sure exactly would It little large sma...
40429    You wear hood wear hood wear jacket without ho...
40430    I liked nothing dress The reason I gave 4 star...
40431    I work wedding industry work long days feet ou...
Name: text_, dtype: object

In [14]:
df['text_'] = df['text_'].str.lower()
df['text_'].head()

0    love well made sturdy comfortable i love itver...
1    love great upgrade original ive mine couple years
2       this pillow saved back i love look feel pillow
3        missing information use great product price i
4         very nice set good quality we set two months
Name: text_, dtype: object

In [15]:
stemmer = PorterStemmer()
def stem_words(text):
    return ' '.join([stemmer.stem(word) for word in text.split()])
stem_words(df['text_'][4])
df['text_'] = df['text_'].apply(lambda text:stem_words(text))

In [16]:
df.head()

,category,rating,label,text_
0,Home_and_Kitchen_5,5.0,CG,love well made sturdi comfort i love itveri pr...
1,Home_and_Kitchen_5,5.0,CG,love great upgrad origin ive mine coupl year
2,Home_and_Kitchen_5,5.0,CG,thi pillow save back i love look feel pillow
3,Home_and_Kitchen_5,1.0,CG,miss inform use great product price i
4,Home_and_Kitchen_5,5.0,CG,veri nice set good qualiti we set two month

In [17]:
df.to_csv('preprocessed_fake_review_dataset.csv')